.nav-wrapper {
  color: #000;
  box-shadow: 0 0 21px rgba(0, 0, 0, 0.58);
}

nav {
  max-width: var(--maxWidth, 1200px);
  margin: 0 auto;
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-between;
}

.login {
  position: relative;
  cursor: pointer;
}

.login a {
  color: inherit;
}

.login ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 10px;
}
.login li {
  padding: 5px;
  white-space: nowrap;
  margin-bottom: 10px;
}

.login li:not(:last-child) {
  border-bottom: 1px solid lightgrey;
}

.login li img {
  padding-left: 5px;
}

.user-ui {
  position: absolute;
  transform: scaleY(0);
  transition: 100ms all ease-in;
  transform-origin: top;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.user-ui a {
  text-decoration: none;
}
.user-ui-show {
  transform: scaleY(1);
}
