.comments-section {
  display: flex;
  flex-direction: column;
}

.comments-section .new-comment {
  margin: 20px 0;
}

.comments-section .new-comment textarea {
  width: 80%;
  height: 90px;
  display: block;
  margin-bottom: 12px;
  padding: 8px;
}

.comments-section .new-comment button {
  background: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 76%);
  color: hsl(0, 0%, 0%);
  border-radius: 3px;
  margin: 0 12px 0 0;
  align-self: normal;
  font-size: 1rem;
  box-shadow: 0 3px 6px hsla(0, 0%, 0%, 0.16), 0 3px 6px hsla(0, 0%, 0%, 0.23);
}

.comments-section button.show-comments {
  background: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 76%);
  color: hsl(0, 0%, 0%);
  border-radius: 3px;
  margin: 0 12px 0 0;
  align-self: normal;
  font-size: 1.4rem;
  box-shadow: 0 3px 6px hsla(0, 0%, 0%, 0.16), 0 3px 6px hsla(0, 0%, 0%, 0.23);
  margin: 20px 0;
}

/* A comment card */
.comments-section .comment {
  padding: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23),
    0 -2px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 30px;
}

.comments-section .comment .author {
  display: flex;
  align-items: center;
}
.comments-section .comment .author img {
  border-radius: 50%;
  margin-right: 20px;
  width: 50px;
  height: 50px;
}
.comments-section .comment .author .created-at {
  margin-top: 4px;
  color: #8a8a8a;
}

.comments-section .comment .content {
  margin-left: 70px;
  color: #5d5d5d;
  line-height: 1.2;
  font-size: 1.1rem;
}

.comments-section .comment .info {
  margin-left: 70px;
  padding-top: 20px;
  display: flex;
}

.comments-section .comment .info .like-comment {
  background: transparent;
  border: 0;
  margin-left: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.comments-section .comment .info .like-comment img {
  width: 20px;
  height: 20px;
}

.comments-section .loading-comments,
.loading-comments-error {
  padding: 4px;
  margin: 20px 0;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 600;
  box-shadow: 0 3px 6px hsla(0, 0%, 0%, 0.16), 0 3px 6px hsla(0, 0%, 0%, 0.23);
}

.loading-comments-error {
  color: hsl(340, 82%, 52%);
}

.comments-section .comments {
  margin: 20px 0;
}

/*  */
.bold {
  font-weight: bold;
}
