.post-viewer-wrapper {
  min-height: calc(100vh - 80px);
  padding: 10px;
  max-width: 740px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.post-viewer-wrapper .post-viewer {
  padding: 5px;
  color: #272727;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.post-viewer-wrapper .details {
  height: 80px;
  background: hsl(0, 0%, 93%);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.post-viewer-wrapper .details img {
  margin-right: 8px;
  border-radius: 50%;
}

.post-viewer-wrapper .details img + div {
  line-height: 22px;
}

.post-viewer-wrapper .post {
  max-width: var(--max-Width, 1200px);
  margin: 0 auto;
}

.post-viewer-wrapper .post h1 {
  font-size: 2.6rem;
  margin-top: 70px;
}

.post-viewer-wrapper .post hr {
  border: 0;
  display: flex;
  justify-content: center;
}

.post-viewer-wrapper .post hr:after {
  content: '';
  display: block;
  width: 30%;
  border-top: 2px dashed #616161;
  margin: 30px 0;
}

.post-viewer-wrapper .likes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px 0;
  border-top: 2px solid #9a9a9a;
  border-bottom: 2px solid #9a9a9a;
  padding: 13px 0 13px;
  padding-left: 12px;
}
.post-viewer-wrapper .likes img {
  width: 20px;
  margin-left: 9px;
}

.post-viewer-wrapper .comments {
  border: 1ps solid;
}

.post-viewer-wrapper .error-message {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  padding: 50px 0;
}
